<ion-header>

  <ion-navbar>
    <ion-title>Contactos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="RefrescarPagina($event)">
    <ion-refresher-content>Se esta refrescando la pagina....</ion-refresher-content>
  </ion-refresher>

  <h1>Listado de contactos
    <small ng-if="CantidadContactos > 0">({{CantidadContactos}})</small>
  </h1>
  <ion-list>
    <ion-item-sliding #item *ngFor="let contacto of Contactos">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="(contacto|FotoPipe)|urlSeguro:'url'" class="thumbmail">
        </ion-avatar>
        <h2 class="MarginTop5px" text-wrap>{{ contacto.displayName }}</h2>
        <p *ngFor="let telefono of contacto.phoneNumbers">{{ telefono.value }} - {{ telefono.type }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="EliminarContacto(contacto,item)">
          Eliminar
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="default" (click)="LimpiarContacto(contacto,item)">
          Combinar
          <ion-icon name="md-git-merge"></ion-icon>
        </button>
        <button ion-button color="secondary" (click)="MarcarContacto(contacto,item)">
          Marcar
          <ion-icon name="ios-checkbox-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>